form( method="get" )
  div.field.has-addons
    div.control.is-expanded
      input.input( type="text" name="url" placeholder=labels.urlPlaceholder required )
    div.control
      input.button.is-info( type="submit" value="Send" )
  div.field
    div.control.output
      label.radio
        input( type="radio" name="output" value="json" checked )
        span.ml-1 JSON
      label.radio
        input( type="radio" name="output" value="html" )
        span.ml-1 HTML
      label.radio
        input( type="radio" name="output" value="mhtml" )
        span.ml-1 MHTML
      label.radio
        input( type="radio" name="output" value="pdf" )
        span.ml-1 PDF
      label.radio
        input( type="radio" name="output" value="jpg" )
        span.ml-1 JPEG
      label.radio
        input( type="radio" name="output" value="png" )
        span.ml-1 PNG
      label.radio
        input( type="radio" name="output" value="gif" )
        span.ml-1 GIF
  div.divider= labels.advanced
  div.advanced.hidden
    //- .hidden
    div.field.hidden.clip
      label.label.is-weight-normal= labels.clip
      div.field.has-addons
        label.label.is-weight-normal.mr-2 X
        input.input.is-info.is-small.mr-2( type="number" name="ssx" )
        label.label.is-weight-normal.mr-2 Y
        input.input.is-info.is-small.mr-2( type="number" name="ssy" )
        label.label.is-weight-normal.mr-2= labels.width
        input.input.is-info.is-small.mr-2( type="number" name="ssw" )
        label.label.is-weight-normal.mr-2= labels.height
        input.input.is-info.is-small( type="number" name="ssh" )
    div.field
      label.label.is-weight-normal= labels.viewport
      div.field.has-addons
        label.label.is-weight-normal.mr-2= labels.width
        input.input.is-info.is-small.mr-2( type="number" name="vpw" )
        label.label.is-weight-normal.mr-2= labels.height
        input.input.is-info.is-small( type="number" name="vph" )
    div.field
      label.label.is-weight-normal= labels.userAgent
      div.control
        input.input.is-info.is-small( type="text" name="user_agent" placeholder=labels.userAgent )
    div.field
      label.label.is-weight-normal= labels.proxy
      div.control
        input.input.is-info.is-small( type="text" name="proxy" placeholder=labels.proxy )
    div.field
      div.control
        label.checkbox
          input( type="checkbox" name="reload" )
          span.ml-1 Reload